include:
  - component: git.ligo.org/computing/gitlab/components/python/all@2.3.2
    inputs:
      code_quality_analyzer: ruff

python_test:
  before_script:
    - apt update
    - apt install -y --no-install-recommends default-jdk-headless
